/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Ribeye:regular&display=swap&subset=cyrillic-ext");

@font-face {
	font-family: "Margarine";
	src:
		url("../fonts/Margarine-Regular.woff2") format("woff2"),
		url("../fonts/Margarine-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	/* font-family: "Gilroy", sans-serif; */
	line-height: 1;
}
/* ------------------------------ */
.einaudi {
}
.einaudi__title {
	font-family: Margarine;
	text-align: center;
	font-size: 34px;
	color: aquamarine;
}
.title {
}
.einaudi__subtitle {
	color: red;
	text-transform: uppercase;
}
.einaudi__menu a {
	color: green;
	font-family: Margarine;
}
.einaudi__biografia {
}
.einaudi__inizi {
	font-family: Margarine;
}
.inizi__title {
	font-family: Ribeye;
	text-align: center;
	font-size: 44px;
	color: blue;
}
.img__inizi {
}
.inizi__text {
	text-align: center;
}
.inizi__text1 {
	color: red;
}
.inizi__text2 {
	color: #1f9d32;
}
.inizi__text3 {
	color: rgb(17, 0, 255);
}
.inizi__text4 {
	color: violet;
}
.einaudi__onde {
}
.onde__title {
	font-family: Ribeye;
	text-transform: uppercase;
	color: green;
	font-size: 55px;
	text-align: center;
}
.img__onde {
}
.onde__text {
	font-family: Margarine;
}
.onde__text1 {
	font-size: 33px;
	color: red;
}
.onde__text2 {
	font-size: 22px;
	color: blueviolet;
}
.einaudi__unamatina {
}
.unamatina__title {
	font-family: Ribeye;
	font-size: 60px;
	text-align: center;
}
.img__unamatina {
}
.unamatina__text {
	font-family: Margarine;
}
.unamatina__text1 {
	color: blueviolet;
}
.unamatina__text2 {
	color: chocolate;
}
.unamatina__text3 span {
	color: red;
}
.unamatina__text3 {
	color: green;
	font-family: Ribeye;
}

.unamatina__text3 a {
	color: violet;
}
a {
}
